body {
    padding: 0;
    margin: 0;
    font-family:  Arial, Helvetica, sans-serif;
    border: none;
}

.container-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    margin-bottom:30px;
}

.container {
    display: flex;
    align-items: flex-start;
    width: 1200px;
    margin: 0 auto;
}

.nav-right {
    margin-top: 5px;
    display: flex;
    margin-bottom: -15px;

}

.nav-right a {
    text-decoration: none;
    color: rgb(201, 196, 196);
    margin-left: 10px;
    font-size: 12px;
}

.nav {
    display: flex;

}

.nav div {
    display: flex;
    align-items: center;
    margin-left: 10px;

}

.nav img {
    margin-right: 80px;
    width: 150px;
}

input[type=text] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    border: none;
    transition: 0.5s;
    outline: none;
    width: 600px;
    height: 40px;
    border-radius: 5px;
}

input[type=text]:focus {
    border: 3px solid orange;
    background-color: white !important;
}

.iconmenu {
    color: black !important;

}

.nav-right i {
    margin-left: 15px !important;
}

.fa-search {
    position: relative;
    color: orange;
    left: -30px;
}

.nav div>.ara {
    background-color: rgb(240, 242, 242);
}

.nav div>.ara:active {
    border-style: solid;
    border-color: orange !important;
}

.line {
    width: 100%;
    border-bottom: 2px solid rgb(239, 236, 236);
    margin-top: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 10px auto;
}

.dropdown a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: 12px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 1075px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
    z-index: 1px;
}

.dropdown-content a {
    color: black;
    padding: 8px 12px;
    margin-left:3px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: orange;
}

.dropdown:hover span {
    background-color: orange;
}

.dropbtn > span{
    background-color: red;
    border-radius: 15px;
    padding: 0 3px;
    color:white;
}

.container .kutu{
    border:2px solid #e3e1e1;
    border-radius: 10px;
    width: 1000px;
    height: 750px;
    margin: 20px 10px;
}

.breadcrumb a{
    text-decoration: none;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 12px;
    color: rgb(85, 84, 84);
}

.breadcrumb a span{
    margin:0 2px;
    color: orange;
    font-weight: bold;
}

.kutu .small{
    position: relative;
    border:2px solid #e3e1e1;
    border-radius: 10px;
    width: 400px;
    height: 600px;
    margin: 20px 20px;
}
.small div{
    display: flex;
    align-items: center;
    margin: 10px 10px;
    left: 5px;
    width: 80px;
    height: 25px;
    background-color: rgb(59, 58, 58);
    color:white;
    border-radius: 5px;
}
.small #kargo p{
    position: absolute;
    font-size: 8px;
    width:20px;
    margin:0 5px;
    left: 35px;
}
.small #teslimat p{
    position: absolute;
    font-size: 8px;
    width:20px;
    margin:0 5px;
    left: 35px;
}

.small div i{
    margin-left:4px;
}

#teslimat{
    background-color: rgb(49, 197, 49);
}
.small img{
    position: absolute;
    width: 399px;
    object-fit: cover;
    height: 300px;
    top:140px;
    left:0px;
}

.kutucuk{
    display: flex;
    height: 60px;
    width: 40px;
    margin:0 auto;
    border: 1.5px solid rgb(224, 220, 220);
    margin-left: 10px;
    border-radius: 8px;

}

.kutucuk {
    display: flex;
    width: 40px;
}
.kutu{
    display: flex;
}

.mini{
    display: flex;
    justify-content: space-evenly;
    margin-left:15px;
    width: 400px;
}
.property{
    font-size: 18px;
    width: 555px;
    height: 750px;
    
}
.property .urun> span, .urun> i{

    font-size: 12px;
}
.fa-clock-rotate-left{
    color:red;
}
.property .urun span{
    color:red!important;
    font-size: 14px;
} 
.firma{
    font-size: 10px;
    margin-left:25px;
}
.firma span{
    color:rgb(73, 148, 246);
}
.review{
    font-size: 12px;
    margin-left: 20px;
    color: rgb(130, 128, 128);
}
.review .fa-star{
    color: rgb(254, 194, 83);
}
.banka-taksit{
    background-color: rgb(249, 233, 233);
    color: rgb(243, 81, 41);
    font-size: 12px;
    margin-left: 30px;
    display: block;
    width:242px;
    padding:2px;
    border-radius: 5px;
}
.price{
    color:rgb(248, 119, 5);
    margin-left:20px;
    font-size: 22px;
}
.bookmark{
    display:flex;
    justify-content: right;
    margin-right: 20px;
    font-size: 12px;
}
.bookmark .fa-bookmark{
    color:rgb(248, 119, 5);
    margin-right: 4px;
}
.property .line{
    width: 98%;
    border-bottom: 2px solid rgb(239, 236, 236);
    margin-top: 10px;
}
.right-bar{

    margin-top: 10px;
}

.right-bar-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(239, 236, 236);
    border-radius: 5px;
    height: 200px;
    width: 95%;
    margin:8px auto;
    background-color: rgb(253, 242, 220);
}
.right-bar-top div{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}